@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button{
  text-transform: capitalize !important;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  /* color: red !important; */
}
.MuiInputBase-root{
  border: red !important;
}
.MuiOutlinedInput-root{
  border: red !important;

}
.MuiDataGrid-columnHeader{
  background-color: rgb(216, 215, 215);

}