.container__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__item {
  flex: 0 0 auto;
}

.slider__btn-prev,
.slider__btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider__btn-prev {
  left: 10px;
}

.slider__btn-next {
  right: 10px;
}

.container__slider__links {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container__slider__links-small {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}

.container__slider__links-small-active {
  background-color: black;
}

.container__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  user-select: none; // Prevents text selection while dragging
}

.slider__track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  cursor: grab;
}

.slider__item {
  flex: 0 0 auto;
}

.slider__btn-prev,
.slider__btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider__btn-prev {
  left: 10px;
}

.slider__btn-next {
  right: 10px;
}
